.App {
  text-align: center;
}

.App-logo {
  height: 95vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.left {
  width: 30vw;
}

.centre {
  width: 40vw;
  height: 100vh;
}

.right {
  width: 30vw;
}
